.musicianWrapper {
  margin: 5px;
  float: left;
  height: 300px;
  width: 200px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.musicianContent {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #4592af;
  color: #222;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.musicianContent:hover {
  opacity: .9;
}
