<div class="projects-list">
  <h1 style="text-align: center;">
    <i class="fas fa-project-diagram"></i> Projekter
  </h1>

  <h2 style="padding-left: 15px; margin-bottom: -5px;">Semester Projekter</h2>
    <hr>
  <div class="listDisplay"  [@listAnimation]="semesterProjects.length">
    <div class="listContent" *ngFor="let item of semesterProjects">
      <app-project-item [project]="item"></app-project-item>
    </div>
  </div>

  <h2 style="padding-left: 15px; margin-bottom: -5px;">Diverse Projekter</h2>
    <hr>
  <div class="listDisplay"  [@listAnimation]="'websiteProjects.length + softwareProjects.length + unityProjects.length'">
    <div class="listContent" *ngFor="let item of websiteProjects">
      <app-project-item [project]="item"></app-project-item>
    </div>
    <div class="listContent" *ngFor="let item of softwareProjects">
      <app-project-item [project]="item"></app-project-item>
    </div>
    <div class="listContent" *ngFor="let item of unityProjects">
      <app-project-item [project]="item"></app-project-item>
    </div>
  </div>

  <h2 style="padding-left: 15px; margin-bottom: -5px;">Webintegrator Projekter(gamle)</h2>
    <hr>
  <div class="listDisplay"  [@listAnimation]="webintProjecst.length">
    <div class="listContent" *ngFor="let item of webintProjecst">
      <app-project-item [project]="item"></app-project-item>
    </div>
  </div>
    <br/>
</div>
