<div class="projects-list">
  <h1 style="margin-left: 20px">
    <i class="fas fa-project-diagram"></i> Projekter
  </h1>
  <br /><br />

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let filter of filters"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(filter)">
        {{filter}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input matInput
        placeholder="New filter..."
        #fruitInput
        [formControl]="filtersCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let filter of filteredFruits | async" [value]="filter">
        {{filter}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

<br /><br />

  <div class="listDisplay" [@listAnimation]="filteredList.length">
    <div class="listContent" *ngFor="let item of filteredList">
      <app-project-item [project]="item"></app-project-item>
    </div>
  </div>
</div>
