<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="Home">Vintage Music</a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="Home">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="MusiciansList">Musicians</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="MusiciansList">Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="MusiciansList">About</a>
      </li>
    </ul>

    <div class="userStuff">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn bg-blue" routerLink="Userpage" *ngIf="userIsAuthenticated">{{user.name}}</button>
        </li>
        <li class="nav-item">
          <button class="btn bg-blue" routerLink="Login" *ngIf="!userIsAuthenticated">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn bg-blue" *ngIf="userIsAuthenticated" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn bg-blue my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
