<div class="centerMiddle">
  <i class="fas fa-key"></i>
  <p class="text-center">Please enter your email address to request a password reset.</p>
  <div class="box">
    <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
  </div>
  <!-- Calling ForgotPassword from AuthService Api -->
  <div class="box">
    <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
  </div>

  <div class="box">
    <span>Go back to ? <span class="underlined" routerLink="/sign-in">Log In</span></span>
  </div>
</div>
