<div class="muWrapper">
  <h1>{{musician.name}}</h1>

  <img src="{{musician.image}}" class="img-fluid" alt="Responsive image"/>

  <div class="musicianDescription">
    <p>{{musician.description}}</p>
  </div>

  <button class="btn bg-blue" (click)="addFavorite()">Add To Favorites</button>

  <button class="btn bg-blue" (click)="removeFavorite()">Remove from Favorites</button>

  <div>
    <i class="fab fa-imdb"></i>
    <i class="fab fa-wikipedia-w"></i>
    <i class="fab fa-spotify"></i>
    <i class="fab fa-facebook-square"></i>
  </div>

</div>
