<div class="navbar">
  <ul>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
      <a routerLink="home">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="skills">
          <i class="fas fa-code"></i> Kompetencer
        </a>
    </li>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="projects" >
          <i class="fas fa-project-diagram"></i> Projekter
        </a>
    </li>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="about">
          <i class="fas fa-user-tie"></i> Kontakt
        </a>
    </li>
  </ul>
</div>


