<section class="homeWrapper">
  <div class="topBanner">
    <div class="topImage">
      <img src="../../../assets/images/CirclePaw.png" height="200" />
    </div>
    <div class="topText">
      <h1>Paw Gilkrog</h1>
      <h4>Datamatiker og Web-Integrator</h4>
    </div>
  </div>

  <div class="imageScreens">
      <div class="coffee responsive"></div> <hr />
  </div>

  <div class="homeButtons">
    <a href="https://dk.linkedin.com/in/paw-gilkrog-463a03169">
      <i class="fab fa-linkedin pointCurs">
      </i>Linkedin
    </a>
    <a href="https://github.com/pgilkrog">
      <i class="fab fa-github-square">
      </i>Github
    </a>
    <a href="../../../assets/CV_PawGilkrog.pdf">
      <i class="fas fa-address-card">
      </i>CV (PDF)
    </a>
  </div>
</section>
