<div class="homeWrapper">
  <div class="textDiv">
    <h1>Hej, mit navn er <i style="font-size: 52px; font-weight: normal; font-family:'Great Vibes';">Paw Gilkrog</i></h1>
    <h4>Jeg er uddannet <i>Datamatiker</i> fra Univercity College Nordjylland, <br /> og <i>Web-Integrator</i> fra Tech College Aalborg.</h4>
  </div>

  <div class="imgWrapper">
      <div class="coffee responsive"></div>
  </div>

  <div class="homeButtons">
    <a href="https://dk.linkedin.com/in/paw-gilkrog-463a03169">
      <i class="fab fa-linkedin pointCurs"
        matTooltip="linkedin profil">
      </i>
    </a>
    <a href="https://github.com/pgilkrog">
      <i class="fab fa-github-square"
        matTooltip="Github profil">
      </i>
    </a>
    <a href="../../../assets/CV_PawGilkrog.pdf">
      <i class="fas fa-address-card"
        matTooltip="CV som PDF">
      </i>
    </a>
  </div>
</div>
