<div class="homeWrapper">
  <div class="imgDiv">
    <img src={{imgSrc}}
      class="rounded-circle"
      name="imgPaw"
      width="300"
      alt="Cinque Terre"
      style="border:2px solid #37e691;"
      (mouseover)="changeImage(true)" (mouseout)="changeImage(false)">
  </div>
  <div class="textDiv">
    <h1>Hej, mit navn er <i style="font-size: 52px; font-weight: normal; font-family:'Great Vibes';">Paw Gilkrog</i></h1>
    <h4>Jeg er uddannet <i>Datamatiker</i> fra Univercity College Nordjylland, <br /> og <i>Web-Integrator</i> fra Tech College Aalborg.</h4>
      <hr>
    <p>
      Jeg har lavet denne portfolio side, for at vise hvad jeg kan og hvilke så projekter jeg har lavet i løbet af mine uddannelser og i min fritid.
      Jeg er full-stack udvikler og kan udvikle i forskellige teknologier og sprog.
      <hr>
    <div class="homeButtons">
      <a href="https://dk.linkedin.com/in/paw-gilkrog-463a03169">
        <i class="fab fa-linkedin pointCurs"
          matTooltip="linkedin profil">
        </i>
      </a>
      <a href="https://github.com/pgilkrog">
        <i class="fab fa-github-square"
          matTooltip="Github profil">
        </i>
      </a>
      <a href="../../../assets/CV_PawGilkrog.pdf">
        <i class="fas fa-address-card"
          matTooltip="CV som PDF">
        </i>
      </a>
    </div>
  </div>
</div>
