.homeWrapper{
  width: auto;
  align-items: center;
  justify-content: center;
}

.textDiv {
  width: 916px;
  margin: 0 auto;
  padding-top: 70px;
}

.homeLinks {
  width: 916px;
  margin: 0 auto;
}

.homeButtons {
  width: 916px;
  text-align: right;
  margin: 0 auto;
  margin-top: 10px;
}

.homeButtons i {
  font-size: 50px;
  padding-right: 10px;
}

.homeButtons i:hover{
  color: #eee;
}

.coffee {
  width: 916px;
  height: 390px;
  margin: 0 auto;
  animation: play 1.2s steps(13) infinite;
  background: url('../../../assets/images/desksmoke.png') left center;
  background-size: cover;
}
@keyframes play {
    100% { background-position: -11908px; }
}

@media (max-width: 930px) {
  .textDiv{
    margin-top: 50px;
    width: 90%;
  }
  .imgWrapper{
    display: none;
  }
  .homeButtons{
    width: 90%;
  }
}

hr {
  margin-top: -5px;
  height: 5px;
}

i {
  font-style: normal;
  color: #37e691;
}

h4 {
  font-weight: normal;
  font-size: 24px;
}
