/* You can add global styles to this file, and also import other style files */

body {
  background: #222;
  font-family: 'Open Sans', sans-serif;
  color: #eee;
}


i {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.pointCurs {
  cursor: pointer;
}

.responsive {
  width: 100%;
  height: auto;
}

.centerDiv {
  width: 300px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 18px;
}

hr {
  border-color: #37e691;
  background-color: #37e691;
}

/* Background Colors */
.green-bg {
  background-color: #37e691;
}

.dark-bg {
  background-color: #222222;
}

.white-bg {
  background-color: #eeeeee;
}
