@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fronts/Roboto-Regular.ttf');
}

body {
  background: #121212;
  font-family: 'roboto', swap, sans-serif;
  color: #eee;
  margin: 0;
  padding: 0;
}

i {
  font-family: 'roboto';
}

.pointCurs {
  cursor: pointer;
}

.responsive {
  width: 100%;
  height: auto;
}

p {
  font-size: 18px;
}

hr {
  border-color: #37e691;
  background-color: #37e691;
}

/* Background Colors */
.green-bg {
  background-color: #37e691;
}

.dark-bg {
  background-color: #222222;
}

.white-bg {
  background-color: #eeeeee;
}
