/* You can add global styles to this file, and also import other style files */

body {
  background: #222;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  margin: 0;
  padding: 0;
}


i {
  font-family: 'Roboto';
}

.pointCurs {
  cursor: pointer;
}

.responsive {
  width: 100%;
  height: auto;
}

p {
  font-size: 18px;
}

hr {
  border-color: #37e691;
  background-color: #37e691;
}

/* Background Colors */
.green-bg {
  background-color: #37e691;
}

.dark-bg {
  background-color: #222222;
}

.white-bg {
  background-color: #eeeeee;
}
