<h1>hejsa</h1>
<div>
    <form [formGroup]="form" (submit)="createMusician()">
      <input formControlName="name" type="input" placeholder="Musicians Name" /> <br>
      <input formControlName="realname" type="input" placeholder="Musicians Real Name" /> <br>
      <input formControlName="description" type="input" placeholder="description" /> <br>
      <input formControlName="birth" type="input" placeholder="Birth"/> <br>
      <input formControlName="death" type="input" placeholder="Death" /> <br>
      <input type="file" #filePicker (change)="onImagePicked($event)" /> <br>
      <button class="btn btn-secondary" type="submit">Create Musician</button>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
    </form>
  </div>
