h1 {
  margin: 0 auto;
}

form {
  width: 320px;
  margin-top: 10px;
}

input {
  width: 100%;
  border-radius: 2px;
  border: none;
  padding: .6rem;
  margin: 0 0 20px 0;
}

textarea {
  border-radius: 2px;
  border: none;
  width: 100%;
  padding: .6rem;
  resize: none;
}

img {
  max-width: 100%;
}

button {
  width: 105%;
  background-color: #37e691;
  border: none;
  padding: .4rem;
  margin: 10px 0 10px 0;
  font-weight: 800;
}

button:hover {
  background-color: #96e4be;
}

button:disabled {
  background-color: #888;
}

.aboutWrapper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.aboutImage, .aboutCountry {
  max-width: 400px;
}

.item1 {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  padding-top: 50px;
}

.item2 {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-top: 3px solid #37e691;
  border-bottom: 3px solid #37e691;
  background-image: url('../../../assets/images/Rectangle 752.png');
}

@media(min-width: 630px) {
  .aboutImage {
    margin-left: auto;
  }

  .aboutInfo {
    margin-right: auto;
    margin-top: 6vh;
  }

  .item1, .item2 {
    display: inline-flex;
  }

  .aboutImage {
    max-width: 300px;
    margin-right: 40px;
  }

  .aboutCountry {
    max-width: 300px;
    margin-left: 40px;
    margin-top: 50px;
  }

  .aboutForm {
    margin-left: auto;
  }

  .aboutCountry {
    margin-right: auto;
  }

  form {
    width: 400px;
  }
}
