<div class="aboutWrapper">
  <div class="item1">
    <div class="aboutImage">
      <img src="../../../assets/images/CirclePaw.png" />
    </div>
  </div>

  <div class="item2">
    <div>
      <h2><i class="shakeAnim fas fa-mobile-alt"></i></h2>
      <p>21 53 55 74</p>
    </div>
    <div>
      <h2><i class="shakeAnim fas fa-envelope"></i></h2>
      <p>pgilkrog@gmail.com</p>
    </div>
  </div>

   <div class="item3">
    <div class="aboutCountry">
      <img src="../../../assets/images/Group23.png" />
    </div>
  </div>
</div>
