.container i {
  font-size: 64px;
}

.container {
  width: 100%;
}

.skillsDescription {
  height: auto;
  width: 100%;
  text-align: justify;
  margin-bottom: 20px;
}

.skillsContainer {
  display: inline-grid;
  grid-template-columns: 270px 270px 270px;
  grid-auto-rows: auto;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.skillsBox {
  background-color: #37e691;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  max-height: 150px;
  color: #343a40;
  transition: max-height .5s ease-out;
}

.skillsBox:hover {
  max-height: 500px;
  transition: max-height .5s ease-out;
  background-color: #7BEFB6;
}

.skillsBoxBody {
  opacity: 0;
  transition: 1s ease;
}

.skillsBoxHeader {
  text-align: center;
}

.skillsBox:hover .skillsBoxBody {
  opacity: 1;
}

li {
  font-weight: bold;
  font-size: 18px;
}

@media(max-width: 900px){
  .skillsContainer {
    grid-template-columns: 270px 270px;
    grid-auto-rows: 2;
  }
}

@media(max-width: 600px){
  .skillsContainer {
    grid-template-columns: 270px;
    grid-auto-rows: 3;
  }
}
