<!-- <div class="education-Wrapper">
  <div class="title-wrapper" (click)="toggleExpansion()">
    <div class="grid-container">
      <div class="eduTitle">
        <h3>{{title}}</h3>
      </div>
      <div class="expand-button" [ngClass]="{expand: isExpanded}">
          <i class="fas fa-arrow-circle-down"></i>
      </div>
    </div>
  </div>
  <div class="education-content" [ngClass]="{contentClick: isExpanded}">
    <p>{{content}}</p>
  </div>
</div> -->

<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>

</mat-expansion-panel> -->
