<div class="menu-wrapper" (click)="toggleMenu()" [ngClass]="{changeBack: showMenu}">
  <div class="menu-btn" [ngClass]="{close: showMenu, changebutton: showMenu}">
    <div class="btn-line top"></div>
    <div class="btn-line middle"></div>
    <div class="btn-line bottom"></div>
  </div>
</div>

<nav class="menu-nav green-bg" [ngClass]="{show: showMenu}">
  <h1>Paw Gilkrog</h1>
  <ul>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="home" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fas fa-home"></i>Home
        </a>
    </li>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="education" (click)="toggleMenu()">
          <i class="fas fa-graduation-cap"></i>Uddannelser
        </a>
    </li>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="skills" (click)="toggleMenu()">
          <i class="fas fa-code"></i>Kompetencer
        </a>
    </li>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="projects" (click)="toggleMenu()">
          <i class="fas fa-project-diagram"></i>Projekter
        </a>
    </li>
    <li [routerLinkActive]='["link-active"]' class="nav-item">
        <a routerLink="about" (click)="toggleMenu()">
          <i class="fas fa-user-tie" style="margin-right: 10px;"></i>Om Mig
        </a>
    </li>
  </ul>
</nav>
