.menu-nav {
  position: fixed;
  z-index: 4;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all .5s ease-in;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%);
}

.show {
  -webkit-transform: translate(0,0%);
  -moz-transform: translate(0,0%);
  transform: translate(0,-0%);
  visibility: visible;
}


.menu-nav ul {
  margin-top: -30px;
}

.menu-nav ul li {
  list-style: none;
  font-size: 24px;
  margin-top: 10px;
}

.nav-item i {
  padding-right: 10px;
}

h1 {
  color: #eee;
  font-family: 'Great Vibes';
  font-size: 62px;
}


nav a, a:focus, a:visited {
  color: #222;
  font-weight: 900;
  text-decoration: none;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  color: #eee;
  text-decoration: underline;
  font-weight: 800;
}

ul li a{
  transition: .5s;
  font-size: 28px;
  display: inline-block;
}

ul:hover li a {
  transform: scale(.9);
  opacity: .4;
  filter: blur(1px);
}

ul li a:hover{
  transform: scale(1.3);
  opacity: 1;
  filter: blur(0);
}


/* BRUGER MENU */
.menu-wrapper {
  border-radius: 50%;
  z-index: 5;
  display: inline-block;
  position: fixed;
  background-color: #37E691;
  border: 1px solid #222;
  padding: 30px;
  right:1%;
  top: 2%;
  cursor: pointer;
}.menu-wrapper:hover  {
  background-color: #eee;
}

.menu-btn {
  width: 40px;
  height: 40px;
  position: relative;
  transition: all 0.5s ease-out;
}

.btn-line {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 5px;
  margin: 0 0 6px 0;
  background: #222;
  border: 1px solid #404040;
  transition: all 0.5s ease-out;
}

.top {
  top: 14%;
}.middle{
  top:44%;
}.bottom {
  top:74%;
}

.close {
  transform: rotate(180deg);
}

.close > div:nth-child(1) {
  transform: rotate(45deg) translate(7px, 8px);
}.close > div:nth-child(2) {
  opacity: 0;
}.close > div:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -10px);
}

.changeBack {
  background-color: #eee;
}
